<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <br>Avatar:</br>
  <<%= image_tag(@user.avatar_url, width: 100) if @user.avatar.present? %>
</p>

<p>
  <strong>Pronoun:</strong>
  <%= @user.pronoun %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
